.app-header {
  padding-top: 2rem;
}
html,
body,
.vertical-center {
  width: 100%;
  height: 100%;
}
.vertical-center {
  display: table;
}
.vertical-center > .inner {
  display: table-cell;
  vertical-align: middle;
}
.metric {
  display: inline-block;
  font-size: 1.6em;
  line-height: 1.2em;
  margin: 0.25rem;
  text-align: right;
  max-width: 90px;
}
.metric.wide {
  max-width: 200px;
}
.metric .header {
  font-size: 0.45em;
  line-height: 1.0em;
  color: rgba(0, 0, 0, 0.6);
}
.metric .success {
  color: #21ba45 !important;
}
.metric .warning {
  color: #fbbd08 !important;
}
.metric .danger {
  color: #db2828 !important;
}
.metric-group {
  display: inline-block;
  margin: 0.25rem;
  border-radius: .28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}
.metric-group > .header {
  font-size: 0.8em;
  line-height: 1.0em;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  background-color: #e8e8e8;
  border-radius: .21428571rem .21428571rem 0 0;
  padding: 0.25em 0.25rem;
}
.metric-group > .header .sub {
  float: right;
  font-weight: normal;
  font-size: 0.9em;
}
.metric-group.success {
  border: 1px solid #21ba45 !important;
}
.metric-group.success > .header {
  background-color: #21ba45 !important;
  color: #fff;
}
.metric-group.warning {
  border: 1px solid #fbbd08 !important;
}
.metric-group.warning > .header {
  background-color: #fbbd08 !important;
  color: #fff;
}
.metric-group.danger {
  border: 1px solid #db2828 !important;
}
.metric-group.danger > .header {
  background-color: #db2828 !important;
  color: #fff;
}
.metric-container {
  margin: -0.25rem;
}
.metric-wrapper {
  display: inline-block;
}
.ui.host.header {
  display: inline-block;
  margin: 0.25rem;
}
.ui.host.header .sub.header {
  font-size: 0.6em;
}
.host-group {
  margin-top: 2em;
  margin-bottom: 2em;
}
.host.segment .bar {
  border-left: 1px solid rgba(34, 36, 38, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  width: 0;
  height: 4em;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.ui.slim.divider {
  margin: 0.4rem 0;
}
.host-error {
  display: inline-block;
  font-size: 1.4em;
  color: #db2828 !important;
  vertical-align: top;
  margin: 0.9em 0.25rem;
}
.percent-bar {
  display: -ms-flexbox;
  display: flex;
}
.percent-bar .bar {
  -ms-flex: 1;
      flex: 1;
}
.percent-bar .label {
  margin-right: .4em;
}
.percent-bar .number {
  width: 3em;
  margin-left: .4em;
  text-align: right;
}
.percent-bar > .bar,
.multi-percent-bar {
  border: 1px solid #e6e6e6;
  position: relative;
  height: 1em;
  margin-top: 0.2em;
}
.percent-bar > .bar .inner,
.multi-percent-bar .inner,
.percent-bar > .bar .inner-secondary,
.multi-percent-bar .inner-secondary {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: width 0.5s ease-out, left 0.5s ease-out;
}
.percent-bar > .bar .inner,
.multi-percent-bar .inner {
  background-color: #21ba45 !important;
}
.percent-bar > .bar .inner-secondary,
.multi-percent-bar .inner-secondary {
  background-color: #00b5ad;
}
.multi-percent-bar .inner.mem-buffers {
  background-color: #5ee37e !important;
}
.multi-percent-bar .inner.mem-cached {
  background-color: #b5f2c3 !important;
}
.legend {
  text-align: center;
  margin-top: 0.5em;
}
.legend .header {
  font-weight: bold;
}
.legend .items {
  margin: 0 -0.5em;
}
.legend .items .item {
  display: inline-block;
  margin: 0 0.5em;
}
.legend .items .item .color-block {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #e6e6e6;
}
.legend .color-block.mem-used,
.legend .color-block.disk-used {
  background-color: #21ba45 !important;
}
.legend .color-block.mem-buffers {
  background-color: #5ee37e !important;
}
.legend .color-block.mem-cached {
  background-color: #b5f2c3 !important;
}
[app-footer] {
  text-align: center;
  padding: 1em;
}
.table-responsive {
  overflow-x: auto;
  width: 100%;
}
.centered-text {
  text-align: center;
}
.grid.cpu-bars {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.grid.cpu-bars > .column:not(.row) {
  padding-top: 0;
  padding-bottom: 0;
}
.muted-text {
  opacity: .45!important;
}
/*# sourceMappingURL=app.css.map */